<%= render "lists/banner", list: @list %>
<div class="d-flex flex-row-reverse">
    <div class="p-4">
      <%= link_to "Add new bookmark", new_list_bookmark_path(@list), class: "btn btn-flat" %>
    </div>
</div>

<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
    <%= render "bookmarks/card", list: @list, bookmark: bookmark %>
  <% end %>
</div>
<div class="div">
</div>
