<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://149512919.v2.pressablecdn.com/wp-content/uploads/2021/12/philly-movies-hero-banner.jpg);">
  <div class="container">
    <h1><strong>Watch List</strong></h1>
    <p>Save any kind of movie</p>
    <%= link_to "Create a list", new_list_path, class: "btn btn-flat" %>
  </div>
</div>
